<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%=@user.firstname %> </h1>
    <h3>You have been removed as a Rotten Mangoes user</h3>  
    <p>The email is to let you know that you have had your account from the Rotten Mangoes website.</p>
    <p>If you did not request this removal, please let us know as soon as possible by <a href="<%= @url %>">contacting us, as soon as possible.</a></p> 
    <p>Kind regards,</p>
    <p>The Rotten Mangoes team</p> 
  </body>
</html>