<h1>Site Administration</h1>

<p> Welcome <%= current_user.full_name %></p>

<%= @users.each do | user | %>
  <p> <%= link_to user.full_name, admin_user_path(user) %></p>
  <p>Has submitted <%= pluralize(user.reviews.size, "review") %> </p>
<% end %>
